.menu li {
    width: 100%;
    text-align: center;
    position: relative;
    display: inline-block;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans serif;

}

.header {
    border: 2px solid #2E4D90;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(360deg,#C5DDE8,#2A9049);
}

.logo {
    padding-left: 30px;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu .li {
    margin: 0 50px;

}

.menu  a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: #2E4D90;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 1s;
    height: 64px;
}
.menu a :hover {
    color: #121212;
}

.phone {
    font-size: 110%;
    color: #333;
    padding-right: 40px;
}
.myphone {
    color: blue;
}
.menu li:hover .id > li {
    display:block;
    top:0;
}
.id li {
    display:none;
    top:0;
    position: absolute;
    background: linear-gradient(360deg,#C5DDE8,#2A9049);
}
.id {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100px;
    border-left: 2px solid #2E4D90;
    border-right: 2px solid #2E4D90;
    border-bottom: 2px solid #2E4D90;
}
.id li:hover .subid > li {
    display:block;
}

.subid li {
    display:none;
}
.subid {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 100%;
    width: 120px;
}
.subid:hover {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 100%;
    width: 120px;
    border: 2px solid #2E4D90;
}
input {
    position: absolute;
    display: flex;
    width: 20rem;
    height: 2rem;
    left:15rem;
    justify-content: flex-end;
}
section {
    position: relative;
    margin-left:30% ;
    margin-top: 20%;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid #2E4D90;
    background-color:rgba(181,35,128,0.2);
    width: 36rem;
    height: 15rem;
    z-index: 1;
}
.final {
    padding-left: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
label {
    text-align: left;
    display: flex;
    width: 140%;

}
.fin {
    display: flex;
    justify-content: flex-start;
    margin-top: 1rem;
    width: 100%;
}
button {
    width: 10rem;
    display: flex;
    margin-top: 3rem;
    margin-left: 2rem;
}
h1 {
    padding-left: 3.5rem;
}
.button {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}
.accounts {
    display: flex;
    position: absolute;
    right: 12rem;
    top: 9.5rem;
    font-size: 2rem;
    text-decoration: none;
}
