.flex {
    flex-direction: column;

    border: 4px solid rgb(244,189,153);
}
.img {
    height:5rem;
    width:5rem;
    float: left;
    margin-left: 1rem;
    margin-right: 1rem;
    margin: 1rem;
}
.flex1 {
    margin:1rem;
    display: flex;
    border: 4px solid rgb(134,173,192);
    height: rem;
    flex-wrap: wrap;
    align-content: space-between;

}
.flex2 {
    display: flex;
    border: 4px solid rgb(134,173,192);
    height: rem;
    flex-wrap: wrap;
    align-content: space-between;
    margin:1rem;
    justify-content: flex-end;

}
.flex3 {
    display: flex;
    border: 4px solid rgb(134,173,192);
    height: rem;
    flex-wrap: wrap;
    align-content: space-between;
    margin:1rem;


}
.flexitem1 {
    text-align: right;
}
.gim {
    height:5rem;
    width:5rem;
    float: right;
    display: inline-flex;
    top: 0%;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
b {
    color: rgb(134,173,192);
}