body {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    font-family: cursive;
    scroll-behavior: smooth;
}
#nav {
    border-bottom: 0.5px solid grey;
    display: block;
    justify-content: center;
    position: fixed;
    z-index: 3;
    background-color: white;
    width: 70%;
}
@media screen and (max-width: 768px) {
  .nav {
      border-bottom: 0.5px solid grey;
      display: block;
      justify-content: center;
      position: fixed;
      z-index: 3;
      background-color: white;
      width: 70%;
      height: 10px;
  }
}
.a {
  text-decoration: none;
    font-size: 1.2rem;
    display: flex;
    text-align: center;
    padding-top: 0.7rem;
    color: black;
    justify-content: center;
    position: relative;
}
.a:hover {
    text-decoration: none;
    display: flex;
    text-align: center;
    justify-content: center;
    color: red;
    padding-top: 0.5rem;
}
.position-absolute {
    position: absolute;
    top: 40%;
    font-size: 200%;
    color: white;
    display: flex;
    width: 80%;
    text-align: center;
    padding-left: 15%;
    padding-right: 5%;
    height: 5%;
    padding-bottom: 15%;
}
.img {
    justify-content: center;
    display: block;
    text-align: center;
    position: relative;
}
h1 {
    text-align: center;
}
#id {
    margin-top: 1rem;
}
.ps{
    border-bottom: 2px solid grey;
}
.main {
    color: red;
    text-decoration: underline;
}
#subjects {
    text-align: center;
    background-color: #1b9bff;
    font-family: "Times New Roman", Times, serif;
}
.a2 {
    color: white;
    font-size: 2rem;
}
.a2:hover {
    text-decoration: none;
    color: red;
}
#contact {
    height: 350px;
}
#email{
    border: 3px solid grey;
    width: 100%;
}
#sign\ in{
    border: 3px solid grey;
    width: 100%;
}
.number {
    padding-left: 15%;
    margin-top: 1rem;
    margin-left: 1rem;
}
.nameclient {
    padding-left: 15%;
    margin-top: 1rem;
    margin-left: 1rem;
}
.comment {
    margin-left: 1.5rem;
    padding-left: 15%;
    height:6rem ;
    margin-top: 1rem;
}
#your {
    margin-left: 15%;
}
#button {
    display: block;
    margin-top: 2%;
}
.com{
    margin-left: 20%;
}
#navtwo {
   background-color: white;
    text-align: center;
    border: 3px solid black;
    border-radius: 1rem;
    position: fixed;
    margin-top: 2rem;
    z-index: 1;
}
.home {
    color: black;
}
.home:hover {
    color: red;
    text-decoration: none;
    font-size: 1.2rem;
    z-index: 1;
}
#href{
    color: white;
}
#href:hover {
    text-decoration: none;
    color: yellow;
}
#submit {
    margin-top: 8rem;
    border: 2px solid black;
}
#pf {
    color: grey;
    font-size: 0.7rem;
    margin-top: 7rem;
}
#teachersinfo,#teachersinfor,#teachersinform {
    border: 2px solid black;
}
.section {
    margin-top: 5rem;
}
#greycolor {
    margin-top: 0.5rem;
    background-color: grey;
}
.form-check {
    margin-top: 1rem;
}
nav a#pull {
    display: none;
}
@media only screen and (max-width : 480px) {
   .a {
       display: inline;
       flex-direction: row;
       position: absolute;

       all-space-treatment: 5rem;
   }
    #aone{
        left: 15%;
    }
    #atwo {
        left: 35%;
    }
    #athree {
        left: 55%;
    }
    #afour {
        left: 75%;
    }
    nav {
        border-bottom: 0;
        display: block;
        flex-direction: row;
        width: 15px;
        height: 25px;
       background-color: white;
        position: fixed;
        z-index: 1;

    }
    nav .a {
        height: 10px;
        font-size: 0.5rem;
        z-index: 1;
        flex-direction: row;
    }
    nav .a:after {
        content: "";
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 10px;
        flex-direction: row;
    }
    #imgad {
        display: none;
    }
    #imgbest {
      height: 15rem;
    }
    .position-absolute {
        font-size: 1rem;
    }
    .label {
        display: none;
    }
    .input {
        margin-left: -15rem;
    }
    .inputa {
        margin-right: 4rem;
    }
    .inputas {
        margin-right: 6rem;
    }
}
@media only screen and (max-width : 320px) {
    nav .a {
        display: block;
        float: none;
        width: 100%;
    }
    nav .a a {
        border-bottom: 1px solid #576979;
    }
    #imgad {
        display: none;
    }
    #imgbest {
        height: 15rem;
    }
    .position-absolute {
        font-size: 1rem;
    }
    .label {
        display: none;
    }
    .input {
        margin-left: -15rem;
    }
    .inputa {
        margin-right: 4rem;
    }
    .inputas {
        margin-right: 6rem;
    }
    .a:hover {
        font-size: 1rem;
        color: red;
    }
    #navtwo {
       margin-top: 10rem;
    }
}
@media only screen and (max-width : 480px) {
    .a {
        display: inline;
        flex-direction: row;
        position: absolute;

        all-space-treatment: 5rem;
    }
    #aone{
        left: 15%;
    }
    #atwo {
        left: 35%;
    }
    #athree {
        left: 55%;
    }
    #afour {
        left: 75%;
    }
    nav {
        border-bottom: 0;
        display: block;
        flex-direction: row;
        width: 15px;
        height: 25px;
        background-color: white;
        position: fixed;
        z-index: 1;

    }
    .a:hover {
        font-size: 1rem;
        color: red;
    }
    #navtwo {
        top: 0;
        width: 80%;
        height: 35px;
        z-index: 2;
    }
    #navthree {
        top: 0;
        width: 80%;
        height: 35px;
        z-index: 2;
    }
}
.click{
font-size: 0.7rem;
}
#Register {
    animation-name: register;
    animation-delay: 1s;
    animation-duration:1s;
    animation-iteration-count: infinite;
}
@keyframes register {
    from {background-color: red;}
    to {background-color: blueviolet;}
}