.div{
    width:34%;
    margin-left: 450px;
    margin-top: 130px;
    border-bottom:15px solid ;
    border-top:15px solid black;
}
.legend {
    text-align: left;
}
.vid{
    display: inline-block;
    text-align: right;
    margin-right: 100px;
}
label{
    float: left;
    margin-right: 12px;
}
.p{
    margin-right: 100px;
}
.class{
    margin-right: 55px;
}
#zaz {
    width: 100%;
}
#ass {
    margin-right: 12px;
}