label {
    font-size: 1rem;
    width:9rem;
    margin: 2rem;
}
.ass {
    width: 15rem;
    font-size: 1.5rem;
    margin: 1rem;
}
.th {
    width: 3rem;
}
.tha {
    width: 10rem;

}
.vid {
    margin-top:2rem;
}
fieldset {
    width: 32%;
    margin-left: 25%;
    margin-top: 1%;
}
#fin {
    margin-left: 35%
}