.bigdiv{
    margin: 40px;
    background-color: #F4F4F4;
    height: 530px;
    padding: 5px;


}
.grid{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr ;
    background-color: #DEE8ED;
    grid-gap:10px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 1rem;

}
.grid div{
    text-align: center;
    padding:20px 0;
    font-size: 20px;
}
.item1{
    grid-column:1/9;
    border-radius: 6px;
    background-color: #C7DCE6;
}
.item2{
    grid-column:1/3;
    background-color: none;
}
.item3{
    grid-column:3/7;
    background-color: white;
    border-radius: 0.5rem;
}
.item4{
    grid-column:1/3;
    background-color:none;
}
.item5{
    grid-column:3/7;
    background-color: white;
    border-radius: 0.5rem;
}
.item6{
    grid-column:1/3;
    background-color: none;
    border-radius: 0.5rem;
}
.item7{
    grid-column-end: 3/7;

    margin-right: rem;
}
.item8{
    justify-content: flex-end;
    width: 20rem;
    align-content: end;
    float: right;
}
h3{
    margin: 30px;
    text-align: left;
    color: #565656;
    padding-left: 1rem;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color:  #F4F4F4;
    padding-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
    top: 0;
    border-radius: 0.5rem;
    float: top;
}
.foot1{
    text-align: left;
    font-size: 20px;
}
#foot1{
    font-size: 30px;
    margin-right: 16rem;
    margin-top: 1.5rem;
    width: 400px;
    height: 70px;
    padding-right: 2rem;
    grid-column:1/2;
    background-color: #F4F4F4;
}
#foot2{
    font-size: 30px;
    padding-bottom: 0.5rem;
    width: 500px;
    height: 70px;
    grid-column:2/7;
    background-color: #F4F4F4;
    border-radius: 0.5rem;
}
h2,p {
    color: #565656;
}
a {
    color: #3073A0;
}
