.container{
    width: 90%;
    height: 800px;
    border:red;
    background-color: white;
    margin: 20px 60px;

}
.nav{
    width: 215px;
    height: 430px;
    background-color: white;
    float: left;
    color: white;
    text-align: center;

}
.grid{
    width: 175px;
    display: grid;
    background-color: white;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr  ;
    padding: 10px;
    grid-gap:5px;
}
.teal{
    background-color: #01938A;
    text-align: center;
    border:1px solid white;
    width: 60px;
    height:60px;
    border-radius: 10px;

}
.red{
    background-color: #F45925;
    text-align: center;
    border:1px solid white;
    width: 60px;
    height:60px;
    border-radius: 10px;
}
.darkorange{
    background-color: #F89A2E;
    text-align: center;
    border:1px solid white;
    width: 60px;
    height:60px;
    border-radius: 2px;
    border-radius: 10px;
}
.orange{
    background-color: #FBB03B;
    text-align: center;
    border:1px solid white;
    width: 60px;
    height:60px;
    border-radius: 10px;
}
.tan{
    background-color: #C2996B;
    text-align: center;
    border:1px solid white;
    width: 60px;
    height:60px;
    border-radius: 10px;
}
.peru{
    background-color: #A47B51;
    text-align: center;
    border:1px solid white;
    width: 60px;
    height:60px;
    border-radius: 10px;
}
.deepskyblue{
    background-color: #29A9E1;
    text-align: center;
    border:1px solid white;
    width: 60px;
    height:60px;
    border-radius: 10px;
}
.limegreen{
    background-color: #3BB649;
    text-align: center;
    border:1px solid white;
    width: 60px;
    height:60px;
    border-radius: 10px;
}
.yellow{
    background-color: #D8E11F;
    text-align: center;
    border:1px solid white;
    width: 60px;
    height:60px;
    border-radius: 10px;
}
.greenyellow{
    background-color: #8CC63E;
    text-align: center;
    border:1px solid white;
    width: 60px;
    height:60px;
    border-radius: 10px;
}
.none{
    text-align: center;
    border:1px solid white;
    width: 60px;
    height:60px;
}


.grid2{
    width: 900px;
    display: grid;
    color: white;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: white;
    padding: 10px;
    grid-gap:5px;
}
.main{
    width: 1000px;
    height: 100px;
    background-color: white;
    float: left;
}

.footer{
    margin-right: 25px;
    float: right;
    width: 80%;
    height: 150px;
    background-color: white;

}
.grid3{
    width:92%;
    height: 60px;
    display: grid;
    grid-template-rows: 1fr 1fr ;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    background-color: white;
    color: white;
    padding: 10px;
    grid-gap:5px;
}

h3{
    text-align:center;
    margin: 10px;
    font-size: 30px;
}
h3:hover{
    color: black;
    text-align:center;
    margin: 10px;
    font-size: 30px;
}
