.first {
    background: url("https://yujanka.kz/wp-content/uploads/2017/08/c4ca4238a0b923820dcc509a6f75849b-5.jpg");
    background-repeat: round;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 50rem;
    width: 100%;


}
.div {
    top: 0px;
    width: 11.7rem;
    height: 1rem;
    background-color: #124559;
    text-align: left;
    position: relative;
}
.div2 {
    width: rem;
    height: 6rem;
    background-color: #124559;
}
h1 {
    font-size: 3rem;
    color: white;
    position: absolute;
    left: 40%;
    top: 15rem;
}
.p {
    position: absolute;
    color: white;
    font-size: 1.5rem;
    left: 64%;
    top: 4.5rem;
}
.pp {
    position: absolute;
    color: white;
    font-size: 1.5rem;
    left: 64%;
    bottom: 1.5rem;
}