#div {
    width: 100%;
    background-color: grey;
}

#loading {
    width: 0%;
    height: 30px;
    background-color: red;
}
#input {
    margin-left: 45%;
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: #DE3332;
    color: white;
}
#input:hover {
    background-color: red;
}