.calculator {
    background-color: #808080;
    border:0.6px solid black;
    width: 18%;
    margin: auto;
}

.result {
    width: 82%;
    font-size: 16px;
    height: 46px;
    background-color: #cdcdcd;
    border: 1px solid black;
    padding-left: 10px;
    margin: 10px;
    margin-bottom: 0;
    margin-right: 3px;
}
.backbox {
     width: 50px;
     height: 50px;
     background-color: #ececec;
     border-radius: 3px;
     font-size: 16px;
 }

.S {
    width: 50px;
    height: 50px;
    background-color:#EBEBEB;
    border-radius: 3px;
    font-size: 16px;
    margin-bottom: 3px;
}
.S:hover {
    background-color: brown;
    color: white;
}
.C\.S\:GO {
    padding: 10px;
}


