.maindiv {
display: flex;
justify-content: center;
    flex-direction: column;
    width: 36%;
    margin-left: 30%;
    margin-top: 5rem;
}
img {
    padding-bottom: 1rem;
}
.div {
    border-top: 2px solid red;
    padding-top: 1rem;
}