*{
    font-family: cursive;
}
#btn{
    height: 2.1rem;
    width: 90%;
    display: flex;
   -webkit-align-items: center;
    justify-content: center;
    position: relative;
    background-color: #29A9E1;
}
.div{
    background-color: #EAECEF;
    height: 8.5rem;
    justify-content: center;
    text-align: center;
}
.p {
 color: white;
    font-size: 1.2rem;
}

.maindiv {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 2rem;
    width: 90%;
}
span {
font-family: cursive;
    font-size: 0.7rem;
}
b {
    font-size: 1.5rem;
}
#prelastdiv {
    width: 95%;
    margin-left: 2.5%;
    display: flex;
    justify-content: center;
}
#lastbutton {
    width: 100%;
    display: flex;
    height: 2.1rem;
    margin-left: 12%;
    margin-top: 1%;
    text-align: center;
    justify-content: center;
    background-color: #D4EDDA;
}
#lastdiv {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
#div {
    border-top: 1px solid grey;
}
.allspinners {
    width: 100%;
    top:0;
    height: 140%;
    display: flex;
    justify-content: start;
    position: absolute;
    z-index: 9;
    animation-name: shakka;
    animation-duration: 99999999999999999s;
    animation-delay: 2s;
    animation-direction: alternate-reverse;
    animation-fill-mode: forwards;
    background-color: #29A9E1;
}
.spinners {
    position: fixed;
    left: 43%;
    top: 60%;
    margin: -75px 0 0 -75px;
    width: 600px;
    height: 120px;
    animation: loading ease-out;
    animation-iteration-count: 1;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}
@keyframes shakka {
    from {opacity: 1}
    to{opacity: 0}
}