#a
{ border: 2px solid black ;
    background-color:green;
    width:280px;
    height: 30rem ;
    float: left;
    color:white;
    padding: 15px }


#b
{ border: 2px solid black ;
    background-color:grey;
    width:280px;
    height: 30rem;
    float: left;
    color: white;
    padding: 15px}



#c
{ border: 2px solid black ;
    background-color:green;
    width:280px;
    height: 30rem;
    float: left;
    color: white ;
    padding: 15px }
#d {
    margin-left: 12rem;
    margin-top: 2rem;
}