body {
    width: 42rem;
}
.p {
    font-size: 1.1rem;
}
.span {
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
}
#harry:hover {
    color: white;
}
#div {
    background-color:rgb(9,40,69);
    text-align:center;
    float: left;
    width: 15rem;
    height: 22rem;
    display:block;
    margin-right: 27rem;
    margin-bottom: 1rem;
}
#p {
    content:none;
    font-style:italic;
}
#h {
    text-align: ;
}
#h:hover {
    color: white;
}
#bod {
    margin-top: 1rem;
    font-size: 1.1rem;
}
#web {
    text-align: center;
    float: left;
}
#das {
    margin-left: 12rem;
}
.qwe {
    width: 20rem;
}
p {
    font-family:"Times New Roman", Times, serif;
}
.pag {
    width: 50%;
    float: left;
    height: 16rem;
}
.age {
    width: 50%;
    float: right;
    height: 16rem;
}