* {
    padding: 0;
    margin:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
#loading {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff url("https://loading.io/asset/345636.gif");
}
body {
    font-family: montserrat;
}
nav {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 15%, rgba(9,9,121,1) 44%, rgba(0,212,255,1) 87%);
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 1;
}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul {
    float: right;
    margin-right: 20px;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin:0 5px;
}
nav ul li a  {
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}
a.active,.a:hover {
    background: #1b9bff;
    transition: .5s;
}
.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}
@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 30px;
    }
    nav ul li ,.a{
        font-size: 10px;
    }
}
@media (max-width: 858px){
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li ,.a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul {
        left:0;

    }

}
section {
    width: 100%;
}
.img {
    margin-top: 80px;
    filter: grayscale(50%);
    position: relative;
}
div.div1{
    position: absolute;
    top: 10rem;
    color: white;
    width: 100%;
    display: block;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-shrink:5;
}
@media screen and (max-width: 480px) {
    #div1{
        position: absolute;
        font-size: 0.1rem;
        display: flex;
        margin-bottom: 100rem;
    }
}
@media (max-width: 750px) {
    #div1{
        display: block;
        left: 1rem;
        right: 1rem;
        width: 90%;
        color: white;
        font-size: 8px;
        flex-shrink:5;
    }
    .Zapishites{
        display: flex;
        justify-content: center;
        color: white;
        background: rgb(63,94,251);
        background: radial-gradient(circle, rgba(63,94,251,1) 33%, rgba(252,70,107,1) 71%);
        font-size: 100%;
        width: 15%;
        height: 10%;
        border: 2px solid red;
        border-radius: 2rem;
        text-align: center;
        padding-top: 1px;
        margin-top: 1rem;
    }
}
.div1-2 {
    width: 100%;
    display: flex;
    display: block;
    justify-content: center;

}
.Zapishites{
    display: flex;
    justify-content: center;
    color: white;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 33%, rgba(252,70,107,1) 71%);
    font-size: 160%;
    width: 20%;
    height: 10%;
    border: 2px solid red;
    border-radius: 2rem;
    text-align: center;
    padding-top: 1px;
    margin-top: 1rem;
    margin-left: 40%;
    animation-duration: .5s;
    animation-name: zap;
}
#mainflex {
    display: flex;
    display: block;
    width: 80%;
    justify-content: center;
    font-family: cursive;
}
.main {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 3%;
}
.flex {
    display: flex;
    width: 100%;
}
.flexcolumn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 20%;
    float: left;
    margin:5%;
}
.flexcolumn2 {
    display:flex;
    flex-direction: column;
    width: 20%;
    float: left;
    margin: 5%;
}
.flexcolumn3 {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 20%;
    float: left;
    margin: 5%;
}
.flexcolumn4 {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 20%;
    float: left;
    margin: 5%;
}
.flex1,.main{
    color: grey;
}
#div2 {
    display: flex;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 1%, rgba(252,70,107,1) 83%);
    width: 100%;
    flex-direction: column;
    font-family: cursive;
    justify-content: center;
}
#div2-2 {
    display: flex;
    margin-left: 30%;
}
#divthree{
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.block-title {
    display: flex;
    justify-content: center;
}
.num {
    display: flex;
    border:1px solid grey;
    width: 3%;
    border-radius: 100%;
    background-color: black;
    color:white;
    height: 3%;
    justify-content: center;
}
.type {
    display: flex;
    width: 100%;
    padding-left: 15px;
    font-size: 35px;
}
b {
    font-size: 1.5rem;
}
embed:focus{
    outline: none;
}
.divintothree {
    display: flex;
    justify-items: center;
flex-direction: column;
    margin-left: 15%;

    width: 500px;
    animation-name: text-going;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-fill-mode: initial;
    animation-delay: initial;
}
@keyframes text-going {
    from {left:0;color: #29A9E1;}
    to {left:100px;color: #8CC63E;}
}